@model ScoutUp.Models.User

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="This is social network html5 template available in themeforest......" />
		<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
		<meta name="robots" content="index, follow" />
		<title>Friend Finder | A Complete Social Network Template</title>

    <!-- Stylesheets
    ================================================= -->
		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../css/ionicons.min.css" />
    <link rel="stylesheet" href="../../css/font-awesome.min.css" />
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    
    <!--Favicon-->
    <link rel="shortcut icon" type="../../image/png" href="../../../../images/fav.png"/>
	</head>
	<body>

    <!-- Header
    ================================================= -->
	
    <!--Header End-->

    <!-- Top Banner
    ================================================= -->
		<section id="banner">
			<div class="container">

        <!-- Sign in Form
        ================================================= -->
               
        <div class="sign-up-form" id="sign-in-form">
					<a href="/" class="logo"><img src="../../images/logo.png" alt="Friend Finder"/></a>
					<h2 class="text-white">Find My Friends</h2>
					<div class="line-divider"></div>
            <div class="form-wrapper">
                <p class="signup-text">Giriş yapın ve ilgi alanlarınıza göre etrafınızda size benzer insanları keşfedin! </p>
                <form id="login_form" method="post" action="/users/login/">
                    <fieldset class="form-group">
                        <input type="text" name="loginEmail" class="form-control" id="loginEmail"
                               data-bind="value: loginEmail" placeholder="Kullanıcı Adı"/>
                        <!--required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Email" -->
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="password" name="loginPassword" class="form-control" id="loginPassword"
                               required data-errormessage-value-missing="Lütfen geçerli bir şifre girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Şifre" data-bind="value: loginPassword"/>
                    </fieldset>
                    @Html.Hidden("returnUrl", @Request.QueryString)
                    <button class="btn-secondary" type="submit" >Giriş</button>
                </form>
            </div>
					<button class="btn-secondary" id="register-btn" name="register-btn">Kayıt Ol</button>
					<img class="form-shadow" src="../../images/bottom-shadow.png" alt="" />
		</div><!-- Sign in Form End -->
	</div>
		</section>
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>
    
    <!--Buy button-->

    <!-- Scripts
    ================================================= -->
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery.appear.min.js"></script>
		<script src="../../js/jquery.incremental-counter.js"></script>
    <script src="../../js/script.js"></script>
        <script type="text/javascript">
            $(function () {
                $('#register-btn').click(function (evt) {
                    window.location.href = '@Url.Content("~/home/register")';
                });
            });
	//$(function(){
	 //   $("#login_form").submit(function (evt) {
	        
		//	evt.preventDefault();
		//	var url = $(this).attr('action');
		//	var postData=$(this).serialize();

		//	$.post(url, postData, function (o) {
		//	    if (o.Result == 1) {
		//	        alert('giriş başarılı');
		//		    window.location.href = '@Url.Content("~/home/newsfeed")';
	//			}
	//			else {
	//				alert('invalid username or password');
			//	}
	//		},'json');
	//	});
	//});
           
            $("#login_form").submit(function (evt) {
                var tokenKey = 'accessToken';
                var self = $(this);
               // evt.preventDefault();

                var loginData = {
                    grant_type: 'password',
                    username: $("#loginEmail").val(),
                    password: $("#loginPassword").val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Token',
                    data: loginData
                }).done(function (data) {
                    // Cache the access token in session storage.
                    sessionStorage.setItem(tokenKey, data.access_token);
                    var url = self.attr('action');
                    	var postData=self.serialize();

                    	$.post(url, postData, function (o) {
                    		},'json');
                }).fail(function() {
                    var url = self.attr('action');
                    var postData = self.serialize();

                    $.post(url, postData, function (o) {
                    }, 'json');
                });
            });
        </script>
    
	</body>
</html>
