<div style="left: auto; right: 5%; bottom: 0px; width: 300px; height: auto; position: fixed; background-color: white; border: 10px none darkred;" class="chat-box">

    <!--Chat Messages in Right-->
    <div class="scroll-wrapper tab-content scrollbar-wrapper wrapper scrollbar-outer" style="position: relative;">
        <div class="scroll-wrapper tab-content scrollbar-wrapper wrapper scrollbar-outer scroll-content" style="position: relative;">
            <div id="tab-pane" class="tab-content scrollbar-wrapper wrapper scrollbar-outer scroll-content" style="height: 417px; margin-bottom: -17px; margin-right: -17px; max-height: none;">
                <div class="chat-top" style="width:286px;height:20px;background-color:blue;/*! position: absolute; */display: flex;overflow: hidden;flex-direction: row;cursor: pointer;">
                </div>
                <div class="tab-pane active" id="contact-7" style="position: relative;/*! margin-top: 30px; */">
                    <div class="chat-body">
                        <ul class="chat-message">

                            <li class="left">
                                <img src="../../images/post-images/user-7-tumbnail.jpg" alt="" class="profile-photo-sm pull-left">
                                <div class="chat-item">
                                    <div class="chat-item-header"><h5>Adem Akgül</h5><small class="text-muted">13.05.2018 00:16:09</small></div>
                                    <p>dsdfgdfg</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div><div class="scroll-element scroll-x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 296px;"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 0px;"></div></div></div>
        </div><div class="scroll-element scroll-x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 545px;"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 0px;"></div></div></div>
    </div><!--Chat Messages in Right End-->

    <div class="send-message">
        <div class="input-group">
            <input class="form-control" placeholder="Type your message" type="text">
            <span class="input-group-btn">
                <button id="buton" class="btn btn-default" type="button">Send</button>
            </span>
        </div>
    </div>
</div>
