
<div class="col-md-3">

    <!--Edit Profile Menu-->
    <ul class="edit-menu">
        <li  id="basic-info"><i class="icon ion-ios-information-outline"></i><a href="/users/editprofilebasic">Kişisel Bilgiler</a></li>
        <li id="interests"><i class="icon ion-ios-heart-outline"></i><a  href="/users/editprofileinterests">İlgi Alanlarım</a></li>
    </ul>
</div>