
<div class="col-md-3">

    <!--Edit Profile Menu-->
    <ul class="edit-menu">
        <li  id="basic-info"><i class="icon ion-ios-information-outline"></i><a href="/users/editprofilebasic">Basic Information</a></li>
        <li id="education"><i class="icon ion-ios-briefcase-outline"></i><a  href="/users/editprofileEducation">Education and Work</a></li>
        <li id="interests"><i class="icon ion-ios-heart-outline"></i><a  href="/users/editprofileinterests">My Interests</a></li>
        <li id="settings"><i class="icon ion-ios-settings"></i><a  href="/users/editprofilesettings">Account Settings</a></li>
        <li id="change-password"><i class="icon ion-ios-locked-outline"></i><a  href="/users/editprofilepassword">Change Password</a></li>
    </ul>
</div>