<!-- Footer
   ================================================= -->
<input type="hidden" value="@Model.UserName" id="UserName" />
<input type="hidden" value="@Model.UserSurname" id="UserSurname" />
<input type="hidden" value="@Model.Id" id="UserId" />
<!-- Scripts
================================================= -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&callback=initMap"></script>
<script src="../../js/jquery-3.1.1.min.js"></script>
<script src="../../js/jquery-migrate-3.0.0.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.sticky-kit.min.js"></script>
<script src="../../js/jquery.scrollbar.min.js"></script>
<script src="../../js/jquery-ui.js"></script>
<script src="../../js/tagit.js"></script>
<script src="../../js/script.js"></script>
<script  src="../../js/profile-picture.js"></script>
<script src="../../Scripts/jquery.signalR-2.2.3.js"></script>
<script src="../../Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="../../signalr/hubs"></script>
<script src="../../js/hub-connections.js"></script>
<script>
    $("body").on('click', "#logout", function (e) {
        e.preventDefault();
        var tokenKey = 'accessToken';

        $.ajax({
            type: 'GET',
            url: '/users/Logout',
        }).done(function (data) {
            // Successfully logged out. Delete the token.
            sessionStorage.removeItem(tokenKey);
            window.location.href = "/home/index";
        }).fail();
    });
</script>
  </body>
</html>
