@foreach (var item in ViewBag.followList)
{
    <div class="col-md-6 col-sm-6">
        <div class="friend-card">
            <img src="../../images/covers/1.jpg" alt="profile-cover" class="img-responsive" />
            <div class="card-info">
                <img src="@item.ImagePath" alt="user" class="profile-photo-lg" />
                <div class="friend-info">
                    <a class="stop-follow" href="@Url.Content("~/users/stopfollow/")@item.id" class="pull-right text-green">Takip Ediliyor</a>
                    <h5><a href='@Url.Content("~/users/index/")@item.id' class="profile-link">@item.Name </a></h5>
                    <p>Student at Harvard</p>
                </div>
            </div>
        </div>
    </div>
}
