<!-- Newsfeed Common Side Bar Right
          ================================================= -->
<div class="col-md-2 static">
    <div class="suggestions" id="sticky-sidebar">
        <h4 class="grey">Who to Follow</h4>
        @foreach (var item in ViewContext.Controller.ViewBag.followSuggest)
        {
        <div class="follow-user">
            <img src="../../images/users/user-11.jpg" alt="" class="profile-photo-sm pull-left" />
            <div>
                <h5><a href="/users/index/@item.id">@item.Name</a></h5>
                <a class="follow" data-id="@item.id" href="/users/follow/@item.id">Takip Et</a>
            </div>
        </div>
        }
    </div>
</div>